.Footer {
  background-color: black;
  list-style: none;
  padding: 30px 0;
  color: white;
  margin-top: 400px
}
.navigate {
  display: flex;
  justify-content: center;
}
.navigate li {
  padding: 10px;
}
.aboutUs {
  display: flex;
}
.aboutUs li {
  padding: 10px;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}