@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

.Header {
  height: 70px;
  list-style: none;
  color:white;
  background-image: linear-gradient(to bottom right, #fcb900, #fa5f22,#f91368);
}
.header .wrapper {
  display: flex;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.header-list {
  display: flex;
  justify-content: space-around;
}
.list {
  display: flex;
  align-items: center;
  margin: 0;
  height: 70px;
}
.title{
  font-family: 'Carter One', cursive;
  font-size: 30px;
  
}

/* -------------------------------------- */


.card-title{
  text-align: center;
  font-family: 'Noto Serif SC', serif;
}

.btn{
  margin: 20px 0px 0px 240px;
  background: red !important;
}

.list-group-item{
  font-family: 'Noto Serif SC', serif;
}

.Recipes{
 background: red
}

.card{
  border-radius: 1.5rem !important;
}

.tarjetas{
 background-image: url("https://statics-cuidateplus.marca.com/sites/default/files/styles/natural/public/comida_2.jpg?itok=HmukTYgl");
 background-size: cover;
 background-repeat: no-repeat;
}

.boton{
  background: #307af2;
  margin-left: 500px;
  margin-top: 20px;
  color: white;
  border-radius: 20%
}

.input{
  margin-left: 80px;
  margin-top: 20px;
}